:root {
    --code-mode: 'light';
    --dark: #222222;
    --outer-space: #263238;
    --light: #eceff1;
    --alto: #dadada;
    --yellow: #eba108;

    --bg-primary: var(--dark);
    --bg-secondary: var(--light);
    --bg-teritary: var(--outer-space);
    --hover: var(--alto);
    --border: var(--dark);
    --primary-font-color: var(--dark);
    --secondary-font-color: var(--light);
    --teritary-font-color: var(--outer-space);
    --quarternary-font-color: var(--dark);
    --background: var(--light); 
    --sun-icon: url("../image/sun.svg");
    --moon-icon: url("../image/moon.svg");
    --icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg) brightness(0.92);
    --icon-moon-filter: invert(-1);
    --button-icon: var(--moon-icon); 
    --button-icon-filter: var(--icon-moon-filter);
}
@media(prefers-color-scheme: dark) {
    :root {
        --code-mode: 'dark';
    }
    :root:not([data-theme]) {
        --background: var(--dark);
        --primary-font-color: var(--light);
        --secondary-font-color: var(--alto);
        --quarternary-font-color: var(--yellow);
        --hover: var(--outer-space);
        --border: var(--alto);
        --button-icon: var(--sun-icon);
        --button-icon-filter: var(--icon-sun-filter);
        --bg-primary: var(--light);
        --bg-secondary: var(--dark);
    }
}
[data-theme="dark"] {
    --background: var(--dark);
    --primary-font-color: var(--light);
    --secondary-font-color: var(--alto);
    --quarternary-font-color: var(--yellow);
    --hover: var(--outer-space);
    --border: var(--alto);
    --button-icon: var(--sun-icon);
    --button-icon-filter: var(--icon-sun-filter);
    --bg-primary: var(--light);
    --bg-secondary: var(--dark);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Roboto,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    letter-spacing: 1px;
    background-color: var(--background);
    color: var(--secondary-font-color);
    transition: background 0.5s ease-in-out, color 0.2s ease;
}	
.container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}	
#page-header {
    color: var(--primary-font-color);
}
.header-wrapper {
    position: relative;
    padding: 10px 0;
}
#main-header {
    display: flex;
    align-items: center;
    flex-direction: row;
}
#main-header, #mobile-menu {
    line-height: 1.3;
}
#main-header .logo {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 0;
    color: var(--primary-font-color);
}
#main-header .logo span {
    background-color: var(--bg-teritary);
    color: var(--secondary-font-color);
    border: 3px solid var(--border);
    padding: 5px 12px 5px 5px;
    margin-right: 10px;
    border-radius: 4px;
}
#main-header .hamburger {
    margin-left: auto;
    display: none;
}
#main-header .mobile-menu-toggle:focus {
    outline: none;
}
#main-header .mobile-menu-toggle span::before,
#main-header .mobile-menu-toggle span::after,
#mobile-menu .mobile-menu-header-close__icon::before,
#mobile-menu .mobile-menu-header-close__icon::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
}
#main-header .mobile-menu-toggle span::before {
    transform: translateY(-10px);
}
#main-header .mobile-menu-toggle span::after {
    transform: translateY(10px);
}
#main-header .main-nav {
    display: inline-flex;
    margin-left: auto;
}	
#main-header .main-nav ul li {
    display: inline-block;
    margin-left: 0;
}
#main-header .main-nav ul li a {
    display: block;
    color: var(--primary-font-color);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 15px;
    text-decoration: none;
}
#main-header .main-nav ul li a .active,
#main-header .main-nav ul li a:hover {
    background-color: var(--hover);
    color: var(--quarternary-font-color);
    border-radius: 4px;
}
#main-header .btn-dark-mode {
    display: inline-flex;
    border: none;
    background-color: transparent;
	padding: 10px;
	margin-left: 35px;
}
#main-header .btn-dark-mode:focus {
    outline: none;
}
#main-header .btn-dark-mode__icon {
    background: var(--button-icon);
    filter: var(--button-icon-filter);
    height: 28px;
    width: 28px;
    transition: 0.5s;
}
#main-header .btn-dark-mode__icon:hover {
    transform: rotate(20deg);
}
.mobile-menu-wrapper.overlay {
    background-color: var(--bg-secondary);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: hidden;
    transition: all 0.3s ease;
}
#mobile-menu {
    text-transform: capitalize;
    line-height: 1.3;
}
.mobile-menu-container {
    position: relative;
}
#mobile-menu .mobile-menu-container .mobile-menu-header,
#mobile-menu .mobile-menu-container .mobile-menu-nav {
    padding-left: 15px;
    padding-right: 15px;
}
#mobile-menu .mobile-menu-container .mobile-menu-header {
    position: relative;
    line-height: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
}
#mobile-menu .mobile-menu-header-dark {
    border: none;
    background-color: transparent;
    display: inline-flex;
    border: none;
    padding: 10px;
    margin-left: 25px;
}
#mobile-menu .mobile-menu-header-dark:focus {
    outline: none;
}
#mobile-menu .mobile-menu-header-dark__icon {
    background: var(--button-icon);
    filter: var(--button-icon-filter);
    height: 28px;
    width: 28px;
    transition: 0.5s;
}
#mobile-menu .mobile-menu-header-logo {
    flex: 1;
    text-align: center;
    color: var(--primary-font-color);
    font-size: 1.2rem;
    font-weight: 600;
}
#main-header .mobile-menu-toggle, #mobile-menu .mobile-menu-header-close {  
    background-color: transparent;
    height: 34px;
    width: 44px;
    cursor: pointer;
    border: none;
    display: block;
}
#mobile-menu .mobile-menu-header-close {
    margin-right: 25px;
}
#mobile-menu .mobile-menu-header-close:focus {
    outline: none;
}
#main-header .mobile-menu-toggle span, #mobile-menu .mobile-menu-header-close__icon {
    height: 3px;
    width: 30px;
    background-color: var(--bg-primary);
    display: none;
    margin:auto;
    position: relative;
}
#mobile-menu .mobile-menu-header-close.active .mobile-menu-header-close__icon {
    background-color: transparent;
}
#mobile-menu .mobile-menu-header-close .mobile-menu-header-close__icon::before {
    transform: rotate(45deg);
}
#mobile-menu .mobile-menu-header-close .mobile-menu-header-close__icon::after {
    transform: rotate(135deg);
}
#mobile-menu .mobile-menu-nav {
    list-style: none;
    position: relative;
    top: 50px;
    text-align: center;     
    font-size: 1.2rem;
}
#mobile-menu .mobile-menu-nav li {
    padding-top: 20px;
}
#mobile-menu .mobile-menu-nav li a {
    color: var(--primary-font-color);
    text-decoration: none;
}
#mobile-menu .mobile-menu-nav li a:hover {
    color: var(--quarternary-font-color);
}
#home {
    height: 80vh;
    text-align: center;
}
#home .home__container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#home .home__text {
    font-size: 3rem;
    color: var(--primary-font-color);    
}
#home p {
    font-size: 1.2rem;
    color: var(--primary-font-color);
}
@media (max-width:1024px) {
    .mobile-menu-wrapper.open {
        width: 100%;
    }
    #main-header .hamburger {
        display: block;
    }
    #main-header .main-nav {
        display: none;
    }
    #main-header .mobile-menu-toggle span, #mobile-menu .mobile-menu-header-close__icon {
        display: block;
    }
}